* {
    box-sizing: border-box;
}

body {
    font-size: xx-large;
}

textarea {
    width: 100%;
    font-size: x-large;
}
button {
    border: 1px solid black;
    width: 300px;
    height: 100px;
    background: #0a0a0a;
    color: white;
    font-size: 50px;
}
button:hover {
    background: #282828;
    color: white;
}

#outputArea {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

/* Create four equal columns that floats next to each other */
.item {
    min-width: 400px;
    flex: 1;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
    background-color: red;
}

.title {
    font-size: 20px;
    color: gray;
}
.text-content {
    padding: 10px;
    padding-top: 0px;
}

.updwon-btn-grp {
    display: flex;
    flex-direction: column;
    width: 50px;
    padding: 0px;
}

.updwon-btn-grp button {
    /*    border: 1px solid black; */
    border: none;
    width: 100%;
    height: auto;
    min-height: 50px;
    background: #222222;
    color: white;
    font-size: medium;
}

.updwon-btn-grp button:hover {
    background: #111111;
    color: white;
    font-size: medium;
}


/* Responsive layout - makes a two column-layout instead of four columns */
@media only screen and (max-width: 1500px) {
    .column {
        width: 50%;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media only screen and (max-width: 800px) {
    .column {
        width: 100%;
    }
}
